* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}

.app {
  background-color: #fff;
}

img {
  max-width: 100%;
}

main {
  padding: 2em;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
}

h4 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.1;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 2em;
}

.header__img {
  width: 31px;
  margin-right: 0.25em;
}

.header__title {
  margin-right: auto;
}

.form {
  display: flex;
  gap: 1em;
}

.form__input {
  width: 50%;
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
}

.form__btn {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme__img {
  margin-bottom: 1em;
}

.meme__img img {
  border-radius: 2px;
  object-fit: cover;
}

.meme__text {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
}

.meme__top-text {
  top: 0;
}

.meme__bottom-text {
  bottom: 0;
}

@media (min-width: 500px) {
  body {
    background-color: #d5d4d8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .app {
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
  }
}
